/*General*/
body {
  margin: 0;
  min-height: 100vh;
  font-family: monospace;
  background-color: rgb(174, 178, 185);
  font-size: 18px;
  font-weight: bolder;
  color: #f9faf8;
  padding: 8px 35px;
  border-radius: 10px;
  border-style: none;;
  display: flex;
  flex-direction: column;
}

#game,
#rounds,
#results {
  background-color: #1F2937;
  border-radius: 10px;
  margin-bottom: 35px;
  min-width: 640px;
}

p {
  margin: 5px;
}

/*Game*/
#game {
  margin-top: 35px;
  margin-bottom: 0px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#instructions {
  color: rgb(165, 172, 182);
}

button {
  background-color: #3882f6;
  font-family: monospace;
  font-size: 18px;
  font-weight: bolder;
  color: #f9faf8;
  padding: 35px;
  border-radius: 10px;
  border-style: none;
  margin: 25px;
}

h1 {
  font-size: 50px;
  margin-top: 0px;
}

/*Rounds*/
#rounds {
  margin-top: 35px;
  display: flex;
  justify-content: space-around;
  padding: 35px;
}

.playerContainer,
.computerContainer {
  background-color: rgb(109, 115, 124);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.energy {
  margin: 0px 0px 0px 4px;
  padding: 0px;
}

.playerEnergy,
.computerEnergy {
  display: flex;
}

.playerEnergy div,
.computerEnergy div {
  background: green;
  height: 26px;
  width: 90px;
}

.competitor {
  font-size: 30px;
}

#computerWins,
#playerWins {
  font-size: 100px;
}

.cmNrgOne,
.plNrgOne {
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  border-left: 4px solid white;
}

.cmNrgTwo,
.plNrgTwo {
  border-top: 4px solid white;
  border-bottom: 4px solid white;
}

.cmNrgThree,
.plNrgThree {
  border-top: 4px solid white;
  border-right: 4px solid white;
  border-bottom: 4px solid white;
}

/*Results*/
#results {
  padding: 35px;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 45px;
  margin-top: 0px;
  text-align: center;
}